@mixin smallify($style-and-duration)
{
	-webkit-transition: $style-and-duration;
		-moz-transition: $style-and-duration;
		-ms-transition: $style-and-duration;
		-o-transition: $style-and-duration;
		transition: $style-and-duration;
}

@mixin gradient($r, $g, $b, $a1, $a2, $img)
{
	background: -webkit-linear-gradient(rgba($r,$g,$b,$a1),rgba($r,$g,$b,$a2)), url($img) no-repeat; 
	background: -o-linear-gradient(rgba($r,$g,$b,$a1),rgba($r,$g,$b,$a2)), url($img) no-repeat; 
	background: -moz-linear-gradient(rgba($r,$g,$b,$a1),rgba($r,$g,$b,$a2)), url($img) no-repeat; 
	background: linear-gradient(rgba($r,$g,$b,$a1),rgba($r,$g,$b,$a2)), url($img) no-repeat; 
}